:root {
  --storytitle-font-size: 2.5rem;
  --scenetitle-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --main-font-size: 1.2rem;
  --hint-font-size: 1rem;
  --main-font-family: sans-serif;
  --headline-font-family: serif;
  --logo-font-family: sans-serif;

  /* Default Theme Colors */
  --primary-color-dark: rgb(0, 0, 0);
  --primary-color-dark-0: rgba(0, 0, 0, 0);
  --primary-color-dark-10: rgba(0, 0, 0, 0.10);
  --primary-color-dark-50: rgba(0, 0, 0, 0.50);
  --primary-color-dark-75: rgba(0, 0, 0, 0.75);
  --primary-color-light: rgb(255, 255, 255);
  --primary-color-light-0: rgba(255, 255, 255, 0);
  --primary-color-light-25: rgba(255, 255, 255, 0.25);
  --primary-color-light-50: rgba(255, 255, 255, 0.50);
  --primary-color-light-75: rgba(255, 255, 255, 0.75);
}

@media (min-width: 720px) {
  :root {
    --storytitle-font-size: 3.75rem;
    --scenetitle-font-size: 2.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --main-font-size: 1.5rem;
  }
}

.theme1 {
  --primary-color-dark: rgb(21, 22, 44);
  --primary-color-dark-0: rgba(21, 22, 44, 0);
  --primary-color-dark-10: rgba(21, 22, 44, 0.10);
  --primary-color-dark-50: rgba(21, 22, 44, 0.50);
  --primary-color-dark-75: rgba(21, 22, 44, 0.75);
  --primary-color-light: rgb(255, 255, 255);
  --primary-color-light-0: rgba(255, 255, 255, 0);
  --primary-color-light-25: rgba(255, 255, 255, 0.25);
  --primary-color-light-50: rgba(255, 255, 255, 0.50);
  --primary-color-light-75: rgba(255, 255, 255, 0.75);
}

.theme2 {
  --primary-color-dark: rgb(151, 137, 15);
  --primary-color-dark-0: rgba(151, 137, 15, 0);
  --primary-color-dark-10: rgba(151, 137, 15, 0.1);
  --primary-color-dark-50: rgba(151, 137, 15, 0.50);
  --primary-color-dark-75: rgba(151, 137, 15, 0.75);
  --primary-color-light: rgb(255, 255, 255);
  --primary-color-light-0: rgba(255, 255, 255, 0);
  --primary-color-light-25: rgba(255, 255, 255, 0.25);
  --primary-color-light-50: rgba(255, 255, 255, 0.50);
  --primary-color-light-75: rgba(255, 255, 255, 0.75);
}